<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render "shared/errors", obj: @article %>
      <%= form_with model: @article, data: { turbo: false }, class: "shadow p-3 mb-3 bg-info rounded", local: true  do |f| %>
        <div class="form-group row">
          <%=f.label :title, class: "col-2 col-form-label"%>
          <div class="col-10">
            <%=f.text_field :title, class: "form-control shadow p-2 mb-4 bg-body-tertiary rounded"%>
          </div>
        </div>

        <div class="form-group row">
          <%=f.label :description, class: "col-2 col-form-label"%>
          <div class="col-10">
            <%=f.text_area :description, rows: 10, class: "form-control shadow p-3 mb-5 bg-body-tertiary rounded"%>
          </div>
        </div>

        <div class="form-group row">
          <%=f.label :category, class: "col-2 col-form-label"%>
          <div class="col-10">
            <%= f.collection_select(:category_ids, Category.all, :id, :name,
            { prompt: "Make your selection from the list below (can be empty)"}, { multiple: true, size: 3, class: "form-control custom-select shadow rounded" }) %>
          </div>
        </div>

        <div class="form-group" align="center">
          <%=f.submit class: "btn btn-outline-secondary"%>
          <br>
          <br>
          <%= link_to '[ Cancel and return to article list ]', articles_path%>
        </div>
      <% end %>
    </div>
  </div>
</div>
